@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Unbounded';
    scroll-behavior: smooth;
    scroll-margin: 80px;
}

#section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('acrobuilding1.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#navbar{
    position: fixed;
    top:0px;
    z-index: 99;
    width: 100%;
    height: 120px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

#navBtns{
    position: relative;
    left:0px;
}

#navBtns ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap:15px;
}

#logo{
    position: relative;
    left: 0px;
    width: 300px;
    height: 100%;
    background-image: url('/White-Logos-for-Acropolis.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#heading{
    position: sticky;
    top:40px;
    width: fit-content;
    left:33.3%;
    font-size: 30px;
    font-weight: 500;
    z-index: 99;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}


#headingmain{
    position: relative;
    font-size: 70px;
    font-weight: 500;
    z-index: 2;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 300px;
    height: 3px;
    background-color: white;
}

#heading .line{
    width: 100px;
    background-color: white;
}
.grayscale{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}


#navBtns ul li a{
    text-decoration: none;
    color:white;
    font-size: 25px;
}

#section2{
    margin-top: 100px;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#section2 h1{
    font-size: 50px;
}

#card1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#c1Img{
    width: 500px;
    height: 500px;
    box-shadow: 8px 8px 10px gray,
    -8px -8px 10px rgba(0, 0, 0, 0.662);
}

#c1Text p{
    width: 500px;
    font-size: 18px;
    color:rgb(77, 77, 77);
}

#s2CardHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#card2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:45px;
}

.vnm{
    text-align: center;
    height: 500px;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:white;
    z-index: 2;
    padding:20px;
    overflow: hidden;
    border:5px solid black;
}

#ourVision{
    background-image: url('/card1.jpg');
}

#ourMission{
    background-image: url('/card2.png');
}

.c2Text{
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.1s;
}

.vnm p{
    font-weight: 300;
}

.vnm::after{
    content: '';
    position: absolute;
    top:500px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    transition: 0.5s;
}

.vnm:hover::after{
   top:0px;
}

.vnm:hover .c2Text{
    transition: 0.3s linear 0.3s;
    opacity: 1;
    transform: translateY(0px);
}

#section3{
    height: 150vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#section3 h1{
    font-size: 50px;
}

.card3{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:50px;
}

.card3 img{
    height: 300px;
    width: 450px;
    border: 5px solid black;
    border-radius: 20px;
}

.c3Text{
    width: 600px;
    font-size: 20px;
    color:rgb(77, 77, 77);
}

#s3CardHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#section4{
    height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:100px;
}

#section4 h1{
    font-size: 50px;
}

#mac{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#contact{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

hr{
    width: 500px;
}

#number,#email{
    font-size: 15px;
    color:rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(48, 48, 48);
    color:white;
}